<script>
  document.addEventListener('DOMContentLoaded', function () {
    const codeBlocks = document.querySelectorAll('pre code');
    const tabSize = 2; // 设置空格数量，您可以根据需要修改这个值

    codeBlocks.forEach(function (block) {
      block.innerHTML = block.innerHTML.replace(/\t/g, ' '.repeat(tabSize));
    });

    // p标签下超链接打开新标签页
    const paragraphs = document.querySelectorAll('p');
      paragraphs.forEach(paragraph => {
          const links = paragraph.querySelectorAll('a');
          // 为每个 <a> 标签添加 target="_blank" 属性
          links.forEach(link => {
              link.setAttribute('target', '_blank');
          });
      });
  });
</script>
  